<!DOCTYPE html>
<html>

<head>
    <title>Logger danych</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
        <div class="header">
            <a href="/" class="logo">Projekt loggera danych</a>
            <div class="header-right">
                <a class="active" href="#home">Zarządzanie danymi</a>
                <a href="/konfiguracja">Konfiguracja</a>
                <!--<a href="#about">About</a>-->
            </div>

    </div>
    <form action="#" method="post">
    <div class="btn-group" ,style="width:100%">
        <input style="width:25%" type="submit" name="submit_button" value="Pobierz"></input>
        <input style="width:25%" type="submit" name="submit_button" value="Wyczyść"></input>
        <input style="width:25%" type="submit" name="submit_button" value="Widok"></input>
    </div>
</form>
<!--
    <div class="btn-group" ,style="width:100%">
        <button style="width:25%" name="submit_button" value="Do Something">Pobierz</button>
        <button style="width:25%">Wyczyść</button>
        <button style="width:25%">Widok</button>
    </div>
    
     <div class="navbar">
        <a class="active" href="#">Pobierz</a>
        <a href="#">Wyczyść</a>
        <a href="#">Widok</a>
    </div>-->
</body>

</html>